@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kanit:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sec1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec2-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
    padding: 2rem;
    margin-top: .8rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 1px #999;
    margin-bottom: .8rem;
}

